<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com)
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot name="mg400">

  <!-- DigiTac -->
  <link
    name="digitac_body_link">
  <inertial>
      <origin
        xyz="0.0044483897843889 -0.0137570316187898 -1.33478473442024E-08+0.02"
        rpy="0 0 0" />
      <mass
        value="0.00791827593084163" />
      <inertia
        ixx="7.86145751817283E-07"
        ixy="-4.85149902505629E-09"
        ixz="4.89421524982813E-12"
        iyy="1.59818901807298E-06"
        iyz="-2.18755873901251E-12"
        izz="1.06961344577448E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0.02"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../standard_digitac/body/digitac_body.stl" />
      </geometry>
      <material name="whitish">
       <color rgba="0.8 0.8 0.8 1.0"/>
     </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0.02"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../standard_digitac/body/digitac_body.stl" />
      </geometry>
    </collision>
  </link>

  <link
    name="digitac_tip_link">


        <inertial>
      <origin
        xyz="1.95689617055233E-05 -0.00418318281817305 -0.00513072481258713-0.02"
        rpy="0 0 0" />
      <mass
        value="0.000211579321175967" />
      <inertia
        ixx="1.6421406108058E-08"
        ixy="-3.59682768116548E-11"
        ixz="8.26721658003392E-12"
        iyy="1.10821033019274E-08"
        iyz="-1.94916165896316E-10"
        izz="2.23470337659004E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 -0.02"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../standard_digitac/tip/digitac_skin.stl" />
      </geometry>
      <material name="black">
         <color rgba="0.0 0.0 0.0 1.0"/>
     </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 -0.02"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../standard_digitac/tip/digitac_skin.stl" />
      </geometry>
    </collision>
  </link>




  <joint
    name="digitac_tip_to_body"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="3.14159265358979 0 -1.5707963267949" />
    <parent
      link="digitac_body_link" />
    <child
      link="digitac_tip_link" />
    <axis
      xyz="0 0 0" />
  </joint>


      <!-- TCP -->
      <link name="tcp_link">
        <visual>
          <origin rpy="0 0 0" xyz="0 0 0"/>
          <geometry>
            <sphere radius="0.001"/>
          </geometry>
          <material name="TransparentRed">
            <color rgba="0.9 0 0.2 0.5"/>
          </material>
        </visual>
        <inertial>
          <mass value="0.0"/>
          <origin rpy="0.0 0.0 1.57" xyz="0.0 0.0 0.0"/>
          <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
        </inertial>
      </link>

      <joint name="tcp_joint" type="fixed">
        <parent link="digitac_body_link"/>
        <child link="tcp_link"/>
        <!-- y x z -->
        <origin rpy="1.57 0 -1.57" xyz="0.0007 0.0 0.031"/>
        <!-- <origin rpy="0 0 0" xyz="0.00145 0.0 0.025"/> -->
        <!-- <origin rpy="0 0 0" xyz="0.0018 0.0 0.025"/> -->
      </joint>


</robot>
